/*First Page CSS*/

.Header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 120px;
  margin-right: 140px;
}

.TitleTxt {
  text-align: left;
  font-size: 65px;
  color: white;
  margin-bottom: 0.5rem;
}

.Ptext {
  font-family: Proxima Nova, Regular;
  font-size: 18px;
  text-align: left;
  width: 600px;
}

.Form {
  border-radius: 30px;
  background: white;
  width: 800px;
  height: 550px;
}

.FormTitle {
  font-size: 40px;
  letter-spacing: 0px;
  color: #0e2e3a;
  padding-left: 4rem;
  padding-top: 2rem;
}

.FormControl {
  width: 330px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.FormLabel {
  color: #0e2e3a;
  font-size: 15px;
  margin-left: 2rem;
}

.FormRow1 {
  display: flex;
  margin-left: 2rem;
}

.FirstPageContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.FormCheck {
  margin-top: 10px;
  margin-left: 4rem;
  font-size: 12px;
}

/*Second Page CSS*/
.LogoName {
  display: flex;
  justify-content: space-between;
}
